// div {
//     color: red;
// }
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf");
    } 
      .container_1 {
    width: 1920px;
    height:1072px;
    background: url(../img/man.png) center;
    background-size: cover;
    margin: 0 auto;
    // border:2px solid gold ;

.main {
    // border:2px solid gold;
    height: 1000px; 
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;  
    
     .icon_1 {
    width: 58px;
    height: 58px;
    //  border: 2px solid red;
    margin: 300px auto 94px auto;
   text-align: center;

} 
.title_1 {
    width: 591px;
    height: 150px;
    font-size: 54px;
letter-spacing: 9px;
color: #ffffff;
font-weight: 700;
font-family: "Lato";
text-align: center;
text-transform: uppercase;
// border: 2px solid red;
margin-bottom:25px;
}
.text {
    // border: 2px solid blue; 
    margin-bottom: 200px;


 .text_1 {
    width: 589px;
height: 30px;
font-size: 15px;
letter-spacing: 1px;
line-height: 29px;
color: #ffffff;
font-weight: 400;
font-family: "Lato";
text-align: center;
text-transform: uppercase;
// border: 2px solid blue;
}
} 
.mouse {
    /* border: 2px solid green; */
    width: 23px;
height: 37px;
border-radius: 2px;
margin-bottom: 50px;
}
} 
}   
.about {
    width: 1920px;
    height: 450px;
    background-color:#FFFFFF;
    /* border: 2px solid red; */
    margin: 0 auto;
    padding-top: 80px;
    .about-container {
        border: 3px solid gray;
        width: 60%;
        height: 80%;
        margin: 0 auto;
        position: relative; 
    
    .ab-title {
        /* border: 2px solid blue; */
        width: 308px;
        font-size: 34px;
    letter-spacing: 5px;
    color: #3c3c3c;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
        margin:0 auto;
        position: absolute;
        right: 50%;
        transform: translate(50%,-50%);
        background-color: white;
    }
    .ab-text{
        width: 553px;
        /* border: 2px solid rebeccapurple; */
    height: 250px;
    font-size: 16px;
    line-height: 24px;
    color: #3c3c3c;
    font-weight: 300;
    font-family: "Lato";
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    }
}
}
.services {
    width: 1920px;
    height: 488px;
    background: url(../img/she.jpg.png) center;
    margin: 0 auto;
    /* border: 2px solid red; */
    box-sizing: border-box;
    padding-top: 10px;
    fieldset {
        border: 3px solid white;
        width: 60%;
        height: 50%;
        margin: 80px auto;
        legend {
            font-size: 34px;
letter-spacing: 5px;
color: #ffffff;
font-weight: 700;
font-family: "Lato";
text-align: center;
width: 308px;
/* margin-bottom: 65px; */
}
.serv-text {
    width: 553px;
    /* height: 280px; */
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Lato";
    text-align: center; 
    /* border: 3px solid greenyellow; */
    margin:20px auto;
}
    }
       
}
.what {
    width: 1920px;
    height: 1200px;
    margin: 0 auto;
    /* border: 3px solid greenyellow; */
    padding-top: 100px;
    padding-bottom: 100px;
    .whcont {
        width: 60%;
        height: 1196px;
        border: 3px solid #3E3E3E;
        margin: 0 auto;
        position: relative;
        .wh-title {
            font-size: 34px;
            letter-spacing: 5px;
            color: #3c3c3c;
            font-weight: 700;
            font-family: "Lato";
            text-align: center;
            text-transform: uppercase;
            position: absolute;
            right: 50%;
            transform: translate(50%,-50%);
            /* border: 3px solid #3E3E3E; */
            background-color:white;
            width: 375px;
        }
        .part {
            /* border: 2px solid blue; */
            text-align: center;
            margin-top: 100px;
            /* padding-bottom: 50px; */
        
        .wh-img {
            padding-bottom: 40px;

        }
        .wh-name {
            font-size: 20px;
letter-spacing: 3px;
/* color: #3c3c3c; */
font-weight: 700;
font-family: "Lato";
text-align: center;
padding-bottom: 40px;
        }

        .wh-text {
            width: 553px;
            /* height: 324px; */
            font-size: 14px;
            line-height: 26px;
            color: #3c3c3c;
            font-weight: 300;
            font-family: "Lato";
            text-align: center;
            /* border: 2px solid red; */
            margin: 0 auto;
             }
            }

            .part {
                /* border: 2px solid blue; */
                text-align: center;
                margin-top: 100px;
                /* padding-bottom: 50px; */
            
            .wh-img {
                padding-bottom: 40px;
    
            }
            .wh-name {
                font-size: 20px;
    letter-spacing: 3px;
    /* color: #3c3c3c; */
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
    padding-bottom: 40px;
            }
    
            .wh-text {
                width: 553px;
                /* height: 324px; */
                font-size: 14px;
                line-height: 26px;
                color: #3c3c3c;
                font-weight: 300;
                font-family: "Lato";
                text-align: center;
                /* border: 2px solid red; */
                margin: 0 auto;
                 }
                }

                .part {
                    /* border: 2px solid blue; */
                    text-align: center;
                    margin-top: 100px;
                    /* padding-bottom: 50px; */
                
                .wh-img {
                    padding-bottom: 40px;
        
                }
                .wh-name {
                    font-size: 20px;
        letter-spacing: 3px;
        /* color: #3c3c3c; */
        font-weight: 700;
        font-family: "Lato";
        text-align: center;
        padding-bottom: 40px;
                }
        
                .wh-text {
                    width: 553px;
                    /* height: 324px; */
                    font-size: 14px;
                    line-height: 26px;
                    color: #3c3c3c;
                    font-weight: 300;
                    font-family: "Lato";
                    text-align: center;
                    /* border: 2px solid red; */
                    margin: 0 auto;
                     }
                    }
    }
    }

    .gallery {
        width: 1920px;
        height: 484px;  
        margin: 0 auto;
        .galwrap1 {
            display: flex;
            justify-content: space-between;
            margin-bottom: 9px;
            /* border: 2px solid rgb(0, 255, 98); */
            .top {
                width: 548px;
                height: 237px;
                background: url(../img/1.png);
                /* border: 2px solid red; */
                .gal-name {
                    font-size: 34px;
                    letter-spacing: 5px;
                    color: #ffffff;
                    font-weight: 700;
                    font-family: "Lato";
                    text-align: center;
                    text-transform: uppercase;
                    /* border: 2px solid blue; */
                    text-align: left;
                    margin-top: 168px;
                    margin-left: 50px;
                    margin-bottom: 40px;
                }
            }
            .joint {
                width: 802px;
                height: 237px;
                background: url(../img/2.png);
                /* border: 2px solid red; */
                .gal-name {
                    font-size: 34px;
                    letter-spacing: 5px;
                    color: #ffffff;
                    font-weight: 700;
                    font-family: "Lato";
                    text-align: center;
                    text-transform: uppercase;
                    /* border: 2px solid blue; */
                    text-align: left;
                    margin-top: 168px;
                    margin-left: 50px;
                    margin-bottom: 40px;
                }
            }    
            .mark{
                width: 550px;
                height: 237px;
                background:url(../img/3.png) ;
                /* border: 2px solid red; */
                /* box-sizing: border-box; */
                .gal-name {
                    font-size: 34px;
                    letter-spacing: 5px;
                    color: #ffffff;
                    font-weight: 700;
                    font-family: "Lato";
                    text-align: center;
                    text-transform: uppercase;
                    /* border: 2px solid blue; */
                    text-align: left;
                    margin-top: 168px;
                    margin-left: 50px;
                    margin-bottom: 40px;
                }
            }
        }
            .galwrap2 {
                display: flex;
                justify-content: space-between;
                /* border: 2px solid blueviolet; */
                work {
                    width: 548px;
                    height: 237px;
                    background: url(../img/4.png);
                    /* border: 2px solid red; */
                    
                    .gal-name {
                        font-size: 34px;
                        letter-spacing: 5px;
                        color: #ffffff;
                        font-weight: 700;
                        font-family: "Lato";
                        text-align: center;
                        text-transform: uppercase;
                        /* border: 2px solid blue; */
                        text-align: left;
                        margin-top: 168px;
                        margin-left: 50px;
                        margin-bottom: 40px;
                    }
                } 
                .lab {
                    width: 802px;
                    height: 237px;
                    background: url(../img/5.png);
                    /* border: 2px solid red; */
                    /* box-sizing: border-box; */
                    .gal-name {
                        font-size: 34px;
                        letter-spacing: 5px;
                        color: #ffffff;
                        font-weight: 700;
                        font-family: "Lato";
                        text-align: center;
                        text-transform: uppercase;
                        /* border: 2px solid blue; */
                        text-align: left;
                        margin-top: 168px;
                        margin-left: 50px;
                        margin-bottom: 40px;
                    }
                }
                .Kyiv {
                    width: 550px;
                    height: 237px;
                    background:url(../img/6.png) ;
                    /* border: 2px solid red; */
                    .gal-name {
                        font-size: 34px;
                        letter-spacing: 5px;
                        color: #ffffff;
                        font-weight: 700;
                        font-family: "Lato";
                        text-align: center;
                        text-transform: uppercase;
                        /* border: 2px solid blue; */
                        text-align: left;
                        margin-top: 168px;
                        margin-left: 50px;
                        margin-bottom: 40px;
                   
                }
            }

        }
    }